textarea {
  resize: none;
}
.modal__title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}
.form {
  margin-left: auto;
  margin-right: auto;
}

.form__field {
  position: relative;
  display: flex;
  flex-direction: column;

  margin-bottom: 10px;
}

.form__field:nth-child(4) {
  margin-bottom: 20px;
}

.form__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;

  letter-spacing: 0.01em;
  color: $secondary-txt-color;
}

.form__input {
  width: 100%;
  height: 40px;

  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border: 1px solid #2196f3;
    outline: none;
  }
}

.form__comment {
  width: 100%;
  height: 138px;
  padding-top: 12px;
  padding-left: 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border: 1px solid #2196f3;
    outline: none;
  }
}

.form__field textarea::placeholder {
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__field:focus-within > .form__icon {
  fill: $accent-color;
}

/* check box */
.form__text {
  text-align: center;
  line-height: 1.71;
  color: $secondary-txt-color;
}

.form__text a {
  color: $accent-color;
  text-decoration: underline;
}

.form__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form__checkfield {
  display: flex;
  align-items: center;
}

.form__check {
  display: flex;
  align-items: center;

  width: 16px;
  height: 15px;

  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__checkbox:checked + .form__check {
  background-color: $accent-color;
  border-color: $accent-color;
}

.form__submit {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 55px 10px 56px;

  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;

  background-color: $accent-color;
  color: $primary-white-color;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  box-shadow: $main-shadow;
  border: 1px solid transparent;
  border-radius: 4px;
  min-width: 200px;
}
