.client {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: unset;
    margin-top: 50px;
    justify-content: center;
  }
}

.client__item {
  display: flex;
  margin-right: 30px;

  &:last-child {
    // margin-right: 0;
  }

  width: calc((100% - 2 * 30px) / 2);
  margin: 15px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: calc((100% - 3 * 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 150px) / 6);

    &:last-child {
      margin-right: 0;
    }
  }
}

.client__link {
  display: block;
  padding-top: 16px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 16px;

  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid $accent-color;
  }
}

.client__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: 10px;
}

.client__link:hover .client__icon,
.client__link:focus .client__icon {
  fill: $accent-color;
}
