.features {
  display: flex;
}

.features__item {
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.features__title {
  font-weight: 700;
  text-transform: uppercase;
}

.features__text {
  color: $secondary-txt-color;
  line-height: 1.71;
  margin-top: 10px;
}

.features__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $team-bcg-color;

  padding: 25px 0;
  margin-bottom: 30px;
  border-radius: 4px;
}
