.features {
  // display: flex;

  @media screen and (min-width: 767px) {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

.features__item {
  // margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }

  @media screen and (max-width: 480px) {
    margin-bottom: 30px;
  }
}

.features__title {
  font-weight: 700;
  text-transform: uppercase;
  @media screen and(max-width: 486px) {
    text-align: center;
  }
}

.features__text {
  color: $secondary-txt-color;
  line-height: 1.71;
  margin-top: 10px;
  @media screen and(max-width: 486px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.features__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $team-bcg-color;

  padding: 25px 0;
  margin-bottom: 30px;
  border-radius: 4px;
}
