.footer-subscribe {
  margin-left: 93px;
}

.footer-subscribe__form {
  display: flex;
  align-items: center;
  height: 50px;
}

.footer-subscribe__input {
  width: 358px;
  background-color: $secondary-bcg-color;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow($main-shadow);
  border-radius: 4px;

  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;

  color: $primary-white-color;
  margin-right: 12px;
}

.footer-subscribe__ input::placeholder {
  font-size: 16px;
  line-height: 1.25;

  color: 255, 255, 255, 0.6;
}

.footer-subscribe__icon {
  margin-left: 10px;
}

.footer-subscribe__button {
  display: flex;
  align-items: center;

  padding: 10px 28px 10px 29px;

  background-color: $accent-color;
  color: $primary-white-color;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  box-shadow: $main-shadow;
  border: 1px solid transparent;
  border-radius: 4px;
  min-width: 200px;
  height: 50px;
}
