.nav {
  display: flex;
  margin-left: 93px;
}

.nav__item {
  display: flex;
  margin-right: 50px;
  position: relative;

  &:last-child {
    margin-right: 0px;
  }
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--main-txt-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    text-shadow: $main-shadow;
    color: $accent-color;
  }
}

.nav__link--active {
  color: $accent-color;
}

.nav__link--active::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: "";
  display: inline-block;

  width: 100%;
  height: 4px;
  background-color: $accent-color;
  border-radius: 2px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover::after,
.nav__link:focus::after {
  opacity: 1;
}

.page-header__contacts {
  display: flex;
}
