.examples__content {
  position: relative;
  overflow: hidden;
}

.examples__description {
  margin-top: 10px;
}

.examples__overlay {
  position: absolute;
  top: 0;
  left: 0;

  padding-top: 63px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 63px;

  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples__link:hover .examples__overlay,
.examples__link:focus .examples__overlay {
  transform: translateY(0);
}

.examples__text {
  margin: 0;
  color: $primary-white-color;
  font-size: 18px;
  line-height: 1.5;
}
