.filter__button {
  display: block;
  align-items: center;

  min-width: 73px;
  padding: 6px 22px 6px 22px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $primary-white-color;
    background-color: $accent-color;
    box-shadow: $box-shadow;
  }
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter__item {
  display: flex;
  margin-right: 8px;
  text-align: center;

  &:last-child {
    margin-right: 0px;
  }
}
