.work {
  margin-top: 50px;
  display: flex;
}

.work__item {
  margin-right: 30px;
  position: relative;

  &:last-child {
    margin-right: 0;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.work__text {
  display: inline-block;
  position: absolute;
  text-align: center;
  bottom: 0;

  width: 100%;
  height: 70px;

  padding-top: 27px;
  padding-bottom: 27px;

  font-weight: 700;
  text-transform: uppercase;
  background-color: $work-background;
  color: $primary-white-color;
}
